@font-face {
    font-family: "Minecraft";
    src: url("../fonts/minecraft_font.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: "Minecraft", Arial, serif;
    border-radius: 0 !important;
}

.playerModel {
    filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.5));
}

.icon {
    image-rendering: pixelated;
    height: 32px;
}

.primary {
    color: #128AF9;
}

.accordion-collapse {
    overflow-y: scroll;
    max-height: 50vh;
}

.btn-primary {
    background-color: #128AF9;
}